.l-main {
  display: grid;
  gap: 0 24px;
  grid-template-columns:
    1fr
    minmax(375px - (24px * 2), 1000px)
    1fr;

  &__inner {
    grid-column: 2/3;
  }
}

.m-filter {
  border: 1px solid #333;
  display: flex;
  flex-direction: row;
  gap: 8px;  
  padding: 16px 24px;
  justify-content: space-around;

  input {
    display: block;
    background-color: #333;
  }
}

.m-panel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

}